*{
    margin: 0;
    font-family: sans-serif;
}

body {
    background-color: black;
}
header {
    text-align: center;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%), url(/banner2.jpg);
    background-size: 100%;
    background-position: center 50%;
    background-size:150%;
    background-repeat: no-repeat;
    height: 100vh;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-around;
    color: white;   
}

nav img {
    width: 400px;
    height: 200px;
}

nav select {
    background-color: transparent;
    font-size: 32px;
    border-color: silver;
    width: 300px;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

header h1{
    color: white;
    font-size: 6.5rem;
    font-family: sans-serif;
    background-color: transparent;
    margin-top: 400px;
}

header h2 {
    color: white;
    font-size: 3rem;
    font-family: sans-serif;
    background-color: transparent;
    margin-top: 30px;
}

header h3 {
    color: white;
    font-size: 2.5rem;
    font-family: sans-serif;
    background-color: transparent;
    text-align: center;
    margin-top: 40px;
}

header input{
    margin-top: 30px;
    width: 1000px;
    height: 100px;
    font-weight: inherit;
    border: 1px solid rgba(255, 255, 255, 0.288);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

header input::placeholder {
    color: white;
    font-size: 25px;
    padding: 25px;
}

header button {
    background-color: red;
    border-radius: 10px;
    color: white;
    height: 100px;
    width: 120px;
    font-size: 20px;
}

.vamosla {
    border: 0px;
    width: 270px;
    height: 110px;
    font-size: 46px;
    font-weight: 500;
    padding: 8px;
}

.pipoca {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    color: white;
    background: radial-gradient(51.39% 511.66% at 47.68% -217.91%, #ff9900 0%, #e50914 17.27%, #0e1b4f 79.44%, #000413 100%);
    height: 300px;
    width: 90vw;
    margin: 0 auto;
    margin-top: -80px;
}

.pipoca h2, h3 {
    text-align: left;
    margin: 15px;
    font-size: 50px;
}

.pipoca a {
    text-align: left;
    font-size: 36px;
}

/* Primeira seção */
.principal {
    display: flex;
    background-color: black;
    height: 700px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.esquerdapricipal {
    width: 800px;

}

.videoprincipal {
    width: 800px;
}

.esquerdapricipal h2 {
    font-family: sans-serif;
    margin-left: 15px;
    font-size: 70px;
    color: white;
}

.esquerdapricipal h3 {
    font-family: sans-serif;
    text-align: left;
    font-size: 36px;
    color: white;
}

.videoprincipal img{
    position: relative;
    height: 500px;
    width: 670px;
    z-index: 1;
}

.foraVideo video{
    position: absolute;
    width: 480px;
    left: 12%;
    margin-top: -400px;
}

/* Segunda seção */

.secundaria {
    border-top: 12px inset rgb(129, 112, 112);
    display: flex;
    background-color: black;
    height: 700px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.videosecundario {
    width: 800px;
}

.videosecundario img {
    position: relative;
    height: 600px;
    width: 850px;
    z-index: 1;
}

.videosecundario video {
    position: absolute;
    width: 550px;
    right: 12%;
    margin-top: -530px;
    z-index: 0;
}

.esquerdasecundaria {
    
    width: 800px; 
}

.esquerdasecundaria h2 {
    margin-left: 15px;
    font-family: sans-serif;
    font-size: 70px;
    margin-bottom: 20px;
    color: white;
}
   
.esquerdasecundaria h3 {
    text-align: left;
    font-family: sans-serif;
    font-size: 35px;
    color: white;
}



/* Terceira seção */

.terceiro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 12px inset rgb(129, 112, 112);
    background-color: black;
    height: 800px;

}

.esquerdaterceiro {
    width: 800px;
}

.esquerdaterceiro h2 {
    width: 600px;
    text-align: left;
    font-size: 70px;
    color: white;
}

.esquerdaterceiro h3 {
    color: white;
    text-align: left;
    font-family: sans-serif;
    font-size: 33px;
}

.terceiro img {
    width: 800px;
    height: 600px;
}

/* Quarta seção */

.quarta {
    border-top: 15px inset rgb(129, 112, 112);
    text-align: center;
    background-color: black;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.esquerdaquarta{
    width: 800px;
}

.esquerdaquarta h2 {
    text-align: left;
    font-size: 70px;
    margin-bottom: 20px;
    color: white;
}

.esquerdaquarta h3 {
    color: white;
    font-size: 35px;
}

.quarta img {
    width: 820px;
    height: 600px;
}

/* Quinta seção */

.quinta {
    border-top: 12px inset rgb(129, 112, 112);
    margin: 0 auto;
    text-align:left ;
    background-color: black;
    height: 1500px;
    justify-content: center;
    align-items: center;
}

.quinta h2 {
    font-family: sans-serif;
    font-size: 70px;
    margin: 100px 0 50px 0;
    color: white;
    text-align: center;
}

.pergunta {
    margin: 0 auto;
    height: 80px;
    width: 90%;
    color: white;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #414141;
    padding: 30px;

}

.pergunta h3 {
    font-family: inherit;
    font-weight: inherit;
    font-size: 35px;
}

.pergunta p {
    font-size: 90px;  
}

.rodape {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.textorodape {
    padding: 50px 0 20px 0;
    color: white;
    text-align: center;
    font-size: 28px;
}

.rodape input{
    width: 600px;
    height: 82px;
    font-weight: inherit;
    border: 1px solid rgba(255, 255, 255, 0.288);
    border-radius: 10px;
    background-color: transparent;
}

.rodape input::placeholder {
    color: white;
    font-size: 25px;
    padding: 25px;
}

.rodape button {
    background-color: red;
    border-radius: 10px;
    border: 0px;
    color: white;
    height: 83px;
    width: 300px;
    font-size: 40px;
    font-weight: bold;
}

/* Footer*/

footer {
    border: 5px solid red;
    border-radius: 10px;
    text-align: center;
    background-color: black;
    height: 1000px;
}

footer h3 {
    color: white
}

footer a {
    color: white;
    display: block;
    text-align: left;
    margin: 5px 0 10px 0;
}

.links ul{
    font-size:20px;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0px;
    margin-left: 10px;
}

.links ul a {
    text-decoration: none;
}

.links li {
    flex: 0 0 calc(25% - 0.75rem);
    margin-top: 1rem;
    margin-left: 0.75rem;
}